@model WebProjekat.Models.Dispecer
@{
    ViewBag.Title = "DispecerZakazujeVoznju";
    bool kombi = false;
    bool putnicki = false;
}

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h2><b>Zahtev za vožnju</b></h2>
    </div>
    <br />
    <br />
    <br />

    <form action="/Taxi/ZatrazioDispecer">
        <input type="hidden" value="@Model.KorisnickoIme" name="dispecer"/>
        <table>
            <tr>
                <td><b>Vaša lokacija(ulica,broj,mesto,postanški broj)</b></td>
                <td><input type="text" name="ulica" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 4 karaktera" data-val-length-max="25" data-val-length-min="4" data-val-required="Ovo polje je neophodno popuniti" /></td>
                <td><input type="text" name="broj" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 1 karaktera" data-val-length-max="25" data-val-length-min="1" data-val-required="Ovo polje je neophodno popuniti" /></td>
                <td><input type="text" name="mesto" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 4 karaktera" data-val-length-max="25" data-val-length-min="4" data-val-required="Ovo polje je neophodno popuniti" /></td>
                <td><input type="text" name="postanski" data-val="true" data-val-length="Ovo polje morate popuniti sa najmanje 5 karaktera" data-val-length-max="25" data-val-length-min="5" data-val-required="Ovo polje je neophodno popuniti" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="text-danger field-validation-error" data-valmsg-for="ulica" data-valmsg-replace="true"></span>
                </td>
                <td>
                    <span class="text-danger field-validation-error" data-valmsg-for="broj" data-valmsg-replace="true"></span>
                </td>
                <td>
                    <span class="text-danger field-validation-error" data-valmsg-for="mesto" data-valmsg-replace="true"></span>
                </td>
                <td>
                    <span class="text-danger field-validation-error" data-valmsg-for="postanski" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td>Slobodni vozači</td>
                <td>
                    <select name="korisnickoVozac">
                        @foreach (WebProjekat.Models.Vozac v in WebProjekat.Models.Registrovani.Vozaci)
                        {
                            <option value="@v.KorisnickoIme">@v.Ime @v.Automobil.Tip.ToString()</option>
                        }
                    </select>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Zatraži vožnju" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>