
@{
    ViewBag.Title = "Greska";
}
<html>
    <body style="background-color:skyblue">
        <h2>Nemate korisnicki nalog!</h2>
        <p>
            @Html.ActionLink("Registruj se", "Registracija")
        </p>

    </body>
</html>

