
@{
    ViewBag.Title = "Greska";
}
<html>
    <body style="background-color:skyblue">
        <h2>Nemate korisnicki nalog!</h2>
            <form action="/Taxi/Registracija">
                <input type="submit" value="Registruj se"/>
            </form>
    </body>
</html>

