
@{
    ViewBag.Title = "GreskaTrazenje";
}
<html>
    <head>
        <script>
            function goBack()
            {
                window.history.back();
            }
        </script>
    </head>
    <body style="background-color:skyblue">
        <div style="text-align:center"><h1>Prilikom pretrage morate popuniti sva polja za unos(datum,ocena,cena)</h1></div>
        <button onclick="goBack()">Vrati se nazad</button>
    </body>
</html>