
@{
    ViewBag.Title = "GreskaAuto";
}

<html>
<head>
    <script>
        function goBack()
        {
            window.history.back();
        }
    </script>
</head>
    <body style="background-color:skyblue"></body>
    <div style="text-align:center"><h1>Tip automobila vozača se ne podudara sa željenim tipom vozila! Vrati se nazad</h1></div>
    <button onclick="goBack()">Vrati se nazad</button>
</html>

