
@{
    ViewBag.Title = "KorisnikPostoji";
}


<html>
    <head>
        <script>
                function goBack()
                {
                    window.history.back();
                }
        </script>
    </head>

    <body style="background-color:skyblue">
        <h2>Postoji vec korisnik sa zadatim korisnickim imenom!</h2>
        <button onclick="goBack()">Vrati se nazad</button>
    </body>
</html>

