@model WebProjekat.Models.Voznja
@{
    ViewBag.Title = "UspesnoOtkazanaVoznja";
}

<html>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h1>Uspešno ste otkazali vožnju</h1>
        <form action="/Taxi/OstaviKomentar">
            <textarea name="komentar" rows="5" cols="50">
                
            </textarea >
            <input type="hidden" name="datum" value="@Model.DatumIVremePorudzbine"/>
            <input type="submit" value="Vrati se na profil" />
            <input type="hidden" name="korisnicko" value="@Model.Musterija.KorisnickoIme"/>
            <input type="hidden" name="datum" value="@Model.DatumIVremePorudzbine"/>
            <input type="hidden" name="ocena" value="Neocenjen"/>
        </form>
    </div>
</body>
</html>
