@model WebProjekat.Models.Korisnik
@{
    ViewBag.Title = "Uspeh";
}

<html>
    <body style="background-color:skyblue">
        <h2>Uspešno registrovan korisnik @Model.KorisnickoIme</h2>
        <p>
            @Html.ActionLink("Vrati se na početnu stranicu!","Index")
        </p>
    </body>
</html>

