@model WebProjekat.Models.Musterija
@{
    ViewBag.Title = "Uspeh";
}

<h2>Uspesno ste se registrovali na korisnicko ime @Model.KorisnickoIme</h2>
<p>
    @Html.ActionLink("Vrati se na početnu stranicu!","Index")
</p>

