@{
    ViewBag.Title = "Uspeh";
}

<html>
    <body style="background-color:skyblue">
        <h2>Uspešno registrovan korisnik</h2>
            <form action="/Taxi/VratiProfilDisp">
                <p>
                    <input type="submit" value="Vrati se na profil" />
                </p>
            </form>
    </body>
</html>

