
@{
    ViewBag.Title = "VozacPostoji";
}


<html>
    <head>
        <script>
            function goBack()
            {
                window.history.back();
            }
        </script>
    </head>

    <body style="background-color:skyblue">
        <h2>VozacPostoji</h2>
        <button onclick="goBack()">Vrati se nazad</button>
    </body>
</html>