@model WebProjekat.Models.Voznja
@{
    ViewBag.Title = "vozacOstavljaKomentar";
}

<html>
<body style="background-color:skyblue">
    <div style="text-align:center">
        <h1>Popunite polje za komentar vožnje</h1>
        <form action="/Taxi/VozacOstavljaKomentar">
            <textarea name="komentar" rows="5" cols="50">
                
            </textarea>
            <input type="submit" value="Vrati se na profil" />
            <input type="hidden" name="korisnicko" value="@Model.Vozac.KorisnickoIme" />
            <input type="hidden" name="datum" value="@Model.DatumIVremePorudzbine" />
        </form>
    </div>
</body>
</html>

